.hero2{
  /* border: 1px solid #b38181; */
  height: 330vh;
  border-radius: 5px;
  background: linear-gradient(135deg,#1b1515,#000000,#000000);
  background: transparent;
  margin: 10px;
  margin-top: 0;
  position: relative;
}
.timeline-container h3{
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.1;
  background: linear-gradient(90deg, #ff7373, #d15454, #8c1414);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s linear infinite;
}
.timeline-container p{
  ont-weight: 800;
  font-size: 1.2rem;
  line-height: 1.1;
  background: linear-gradient(90deg, #646161, #856767, #5c5050);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s linear infinite;
}

@keyframes slideS{
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes slideUp{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0px);
    }
}

.line{
    border-bottom: 2px solid #7c2a2a;
    border-left: 2px solid #7c2a2a;
    height: 150px;
    width: 100px;
    position: absolute;
    inset: 0;
    top: 10px;
    left: 150px;
    
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dotted #7c2a2a;
  height: 100px;
  width: 500px;
  position: absolute;
  inset: 0;
  top: 100px;
  left: 260px;
  animation: slideS ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
  border-radius: 50px;
}
.line2{
    border-top: 2px solid #7c2a2a;
    border-right: 2px solid #7c2a2a;
    height: 130px;
    width: 100px;
    position: absolute;
    inset: 0;
    top: 160px;
    left: 770px;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 1200px;
    position: absolute;
    top: 300px;
    right: 100px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border: 0.2px solid #784343;
    border-radius: 5px;
    background: linear-gradient(135deg,#1b1515,#000000,#000000);
  
}

.line3{
    border-top: 2px solid #7c2a2a;
    border-bottom: 2px solid #7c2a2a;
    border-left: 2px solid #7c2a2a;
    height: 450px;
    width: 100px;
    position: absolute;
    inset: 0;
    top: 500px;
    left: 40px;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #7c2a2a;
    height: 100px;
    width: 600px;
    position: absolute;
    top: 900px;
    left: 150px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border-radius: 50px;
}
.line4{
    border-top: 2px solid #7c2a2a;
    border-right: 2px solid #7c2a2a;
    height: 100px;
    width: 100px;
    position: absolute;
    inset: 0;
    top: 950px;
    left: 750px;
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    position: absolute;
    top: 1050px;
    left: 550px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border: 0.2px solid #784343;
    border-radius: 5px;
    background: linear-gradient(135deg,#1b1515,#000000,#000000);
}
.line5{
    border-top: 2px solid #7c2a2a;
    border-left: 2px solid #7c2a2a;
    height: 300px;
    width: 200px;
    position: absolute;
    inset: 0;
    top: 1250px;
    left: 340px;
}
.box5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    position: absolute;
    top: 1560px;
    left: 50px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border: 0.2px solid #784343;
    border-radius: 5px;
    background: linear-gradient(135deg,#1b1515,#000000,#000000);    
}
.line6{
    border-top: 2px solid #7c2a2a;
    border-right: 2px solid #7c2a2a;
    height: 300px;
    width: 200px;
    position: absolute;
    inset: 0;
    top: 1750px;
    left: 860px;
}
.box6{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted #7c2a2a;
    height: 100px;
    width: 700px;
    position: absolute;
    top: 2060px;
    left: 550px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border-radius: 50px;
}
.line7{
    border-top: 2px solid #7c2a2a;
    border-left: 2px solid #7c2a2a;
    height: 150px;
    width: 200px;
    position: absolute;
    inset: 0;
    top: 2110px;
    left: 340px;
}
.box7{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 1200px;
    position: absolute;
    top: 2270px;
    left: 50px;
    animation: slideS  ease;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    border: 0.2px solid #784343;
    border-radius: 5px;
    background: linear-gradient(135deg,#1b1515,#000000,#000000);    
}

.small-box{
    height: 100%;
    width: 50%;
    padding: 15px;
}
.small-box img{
    width: 95%;
    border-radius: 15px;
}
.school{
    height: 100%;
    width: 50%;
    padding: 25px;
}
.school img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.para{
    width: 100%;
    padding-left: 20px;
    text-align: left;
    margin-top: 20px;
}
.card p{
    width: 90%;
    margin-left: 20px;
    text-align: left;
    color: #d15454;   
}
.para a{
    color: #ff7373;
}
.para a:hover{
    color: #834747;
}
.photo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card img{
    height: 90px;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
.photo2{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.photo2 img{
     transition: transform 0.4s ease, opacity 0.4s ease;
}
.photo img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.5;
}
.photo2 img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.5;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
