.services-section {
  min-height: 65vh;
  background: transparent;
  color: #ff6464;
  padding: 2rem 1.5rem;
  text-align: center;
}

.services-title {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 3rem;
  animation: slideRight 1s ease;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background: #111;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideup 1s ease;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.5);
}
@keyframes slideup {
  from { transform: translateY(100%); opacity: 0;}
  to { transform: translateY(0%); opacity: 1;}
}
.service-icon {
  font-size: 3rem;
  color: #ff0000;
  margin-bottom: 1rem;
}

.service-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.service-text {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 1.5rem;
}

.service-btn {
  background: #ff5454;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.service-btn:hover {
  background: #7f3838;
}

.cta-section {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 4rem;
  animation: slideup 1s ease;
}

.cta-text {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.cta-btn {
  margin-bottom: 15px;
  cursor: pointer;
  color: aquamarine;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  color: #2d5d4d;
}

/* Responsive */
@media (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
